body {
    padding: 25px;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
  }

  .resume {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border: 2px solid #000;
    padding: 20px;
    position: relative; /* Allows absolute-positioning inside */
  }

  .photo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 170px;
    height: 200px;
    object-fit:cover;
    border: 2px solid #000;
  }

  .section {
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
  }

  .title {
    color: #5C6AC4;
  }

  a {
    display: block;
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 0;
    padding: 2px;
    color: brown;
    

  }
  .pro{
     margin-top: 0;
    padding: 2px;
    
  }